body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.star-rating {
    font-size: 30px;
    cursor: pointer;
}

.star {
    color: gray;
}

.star:hover,
.star.active {
    color: gold;
}
